[Unit]
Description=Initialize testing harness
ConditionFileIsExecutable=/usr/bin/initialize_testing_harness
After=multi-user.target

[Service]
RemainAfterExit=true
ExecStart=/usr/bin/initialize_testing_harness
