[Unit]
Description=Run watchdog
Wants=dnsmasq.target sshd.target
After=dnsmasq.target sshd.target

[Service]
ExecStart=/usr/bin/watchdog

[Install]
WantedBy=multi-user.target
